---
import Layout from "@src/components/Layout.astro";
import Dump from "@src/components/Dump.astro";
import SoundcloudMix from "@src/components/SoundcloudMix.astro";

import { getSearchResults } from "@src/utils/soundcloud";

let searchResults = [];

const searchQuery = Astro.url.searchParams.get("q");
searchResults = await getSearchResults({ searchQuery });
---

<Layout>
  <h1>Search</h1>
  <form>
    <label
      >Search query
      <input name="q" value={searchQuery} />
    </label>
    <button>Search</button>
  </form>

  <h2>Search results</h2>

  <details>
    <summary>Search results for {searchQuery}</summary>
    <ul>
      {searchResults.map((result) => <SoundcloudMix data={result} />)}
      <li>
        <Dump data={searchResults} />
      </li>
    </ul>
  </details>
</Layout>
